<div class="container">
	<h1 align ="center"
		style="font-weight: 800; margin-top: 80px; margin-bottom: 20px">Loan
		Eligibility Forecast</h1>
</div>
<div class="container">
	<div class="col-sm-3"></div>
	<div class=" col-sm-6 mainFormDiv">

		<form class="form-horizontal" method="POST"
			style="box-shadow: 1px 7px 9px 5px grey; margin-bottom: 15px;">

			<div class="vehicle_details">
				<div class="form-group">
					<label for="isUsedVehicle" class="col-sm-6">Vehicle</label>
					<div class="col-sm-12">
						<div class="btn btn-lg btn-primary btn-block">
							<input type="hidden" id="isUsedVehicle" name="usedVehicle"
								[checked]="isUsedVehicle" value="1"><label for="isUsedVehicle">Used</label>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label for="vehicleType" class="col-sm-6">Vehicle Type</label>
					<div class="col-sm-12">
						<div class="btn-group btn-group-toggle"
							data-toggle="buttons">
							<div class="btn btn-secondary  mr-5">
								<input type="radio" name="vehicleType" id="vehTypePrivate" 
									 value="1" ><label
									(click)="vehicleTypeFunc('private')" >Private</label>
							</div>
							<div class="btn btn-secondary ">
								<input type="radio" name="vehicleType" id="vehTypeTexi"
									 value="2"><label
									(click)="vehicleTypeFunc('texi')" >Taxi</label>
							</div>
						</div>
						
					</div>
				</div>

				<div class="form-group">
					<label for="loanType" class="col-sm-6">Loan Type</label>
					<div class="col-sm-12">
						<div class="btn btn-primary btn-block">
							<input type="radio" id="loanType" name="isPurchased"
								checked="checked" value="1"><label for="loanType">purchased</label>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label for="mfgYear" class="col-sm-6">Manufacture Year</label>
					<div class="col-sm-12">
						<select class="form-control" id="mfgYear" name="mfgYear"
							(change)="getBrandsByYear($event.target.value)">
							<option disabled selected>mfg year</option>
							<option value="2010">2010</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							
						</select>
					</div>
				</div>

				<div class="form-group" id="brndDrpDwn" *ngIf="showBrandList">
					<label for="brand" class="col-sm-6">Brand</label>
					<div class="col-sm-12">
						<select class="form-control" id="brand" name="brand"
							(change)="getModelByBrand($event.target.value)">
							<option disabled selected>select brand</option>
							<option *ngFor="let brand of brandList">{{brand}}</option>
						
						</select>

					</div>
				</div>

				<div class="form-group" id="mdlDrpDwn" *ngIf="showModelList">
					<label for="model" class="col-sm-6">Model</label>
					<div class="col-sm-12">
						<select class="form-control" id="model" name="model"
							(change)="getvarientByBrandAndModelAndYear($event.target.value)">
							<option disabled selected>select model</option>
							<option *ngFor="let model of modelList">{{model}}</option>
							
						</select>
					</div>
				</div>

				<div class="form-group" id="vrntDrpDwn" *ngIf="showvariantList">
					<label for="variant" class="col-sm-6">Variant</label>
					<div class="col-sm-12">
						<select class="form-control" id="variant" name="varant"
						(change)="getSelectedVarients($event.target.value)">
							<option disabled selected>variant</option>
							<option  *ngFor="let varient of varientList">{{varient}}</option>
						
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="location" class="col-sm-6">Location</label>
					<div class="col-sm-12">
						<select class="form-control" id="location" (change)="getSelectedLocaltion($event.target.value)" name="location">
							<option disabled selected>location</option>
							<option value="banglore">Banglore</option>
							<option value="chennai">Chennai</option>
							<option value="mumbai">Mumbai</option>
							<option value="delhi">Delhi</option>
							<option value="kerala">Kerala</option>
							<option value="pune">Pune</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="ownerShip" class="col-sm-6">Ownership</label>
					<div class="col-sm-12" id="ownerShip">
						<div class="btn-group btn-group-justified btn-group-toggle"
							data-toggle="buttons">

							<div class="btn btn-primary mr-4">
								<input type="radio" name="ownerShip" value="1"
									id="firstOwnership" ><label  (click)="ownershipFun('first')"
									>1st</label>
							</div>
							<div class="btn btn-primary mr-4">
								<input type="radio" name="ownerShip" value="2"
									id="secondOwnership"><label  (click)="ownershipFun('second')"
									>2nd</label>
							</div>
							<div class="btn btn-primary mr-4">
								<input type="radio" name="ownerShip" value="3"
									id="thirdOwnership" ><label (click)="ownershipFun('third')"
									>3rd</label>
							</div>
							<div class="btn btn-primary">
								<input type="radio" name="ownerShip" value="4"
									id="otherOwnership"><label
									(click)="ownershipFun('other')">3+</label>
							</div>
						</div>
											</div>
				</div>


				<div class="form-group">
					<label for="vehicleCondition" class="col-sm-6">Condition</label>
					<div class="col-sm-12" id="vehicleCondition">
						<div class="btn-group btn-group-justified btn-group-toggle"
							data-toggle="buttons">
							<div class="btn btn-primary mr-3">
								<input type="radio" name="vehicleCondition" value="1"
									id="excellentCondition"><label
									(click)="vehCondition('excellent')">Excellent</label>
							</div>
							<div class="btn btn-primary mr-3">
								<input type="radio" name="vehicleCondition" value="2"
									id="goodCondition"><label
									(click)="vehCondition('good')">Good</label>
							</div>
							<div class="btn btn-primary mr-3s">
								<input type="radio" name="vehicleCondition" value="3"
									id="averageCondition"><label
									(click)="vehCondition('average')">Average</label>
							</div>
							<div class="btn btn-primary">
								<input type="radio" name="vehicleCondition" value="4"
									id="badCondition"><label (click)="vehCondition('bad')">Bad</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="vehiclePrice" class="col-sm-6">Vehicle Price</label>
					<div class="col-sm-12">
						<input type="number" name="vehiclePrice"
							placeholder="enter vehicle price" id="vehiclePrice" [(ngModel)]="price"
							class="form-control">
					</div>
				</div>


			</div>
			<div class="profile_details">
				<div>
					<div class="form-group">
						<label for="personAge" class="col-sm-6">Age</label>
						<div class="col-sm-12">
							<input type="number" name="personAge" id="personAge"
								class="form-control" [(ngModel)]="age">
						</div>
					</div>
					<div class="form-group">
						<label for="customerProfile" class="col-sm-6">Customer
							Profile</label>
						<div class="col-sm-12">
							<select class="form-control" id="customerProfile"
								name="customerProfile" (change)="getCustomerProfile($event.target.value)">
								<option>select profile</option>
								<option value="salaried">Salaried</option>
								<option value="professional">Professional</option>
								<option value="business">Business</option>
								<option value="self">Self Employed</option>
								<option value="agriculture">Agriculture</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="monthlyIncome" class="col-sm-6">Monthly
							Income</label>
						<div class="col-sm-12">
							<select class="form-control" id="monthlyIncome"
								name="monthlyIncome" (change)="getSelectedMonthlyIncome($event.target.value)">
								<option>select income</option>
								<option value="15000">15000-20000</option>
								<option value="20000">20000-25000</option>
								<option value="25000">25000-30000</option>
								<option value="30000">30000-40000</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="loanAmount" class="col-sm-6">Loan Amount</label>
						<div class="col-sm-12">
							<select class="form-control" id="loanAmount" name="loanAmount"(change)="getSelectedLoanAmount($event.target.value)">
								<option>select loan amount</option>
								<option value="1000000">1000000-1200000</option>
								<option value="1200000">1200000-1400000</option>
								<option value="1400000">1400000-1600000</option>
								<option value="1600000">1600000-1800000</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="maxDownPayment" class="col-sm-6">Down Payment</label>
						<div class="col-sm-12">
							<input type="number" name="maxDownPayment" id="maxDownPayment"
								class="form-control" [(ngModel)]="payment">
						</div>
					</div>

					<div class="form-group">
						<label for="existEmi" class="col-sm-6">Existing EMI </label>
						<div class="col-sm-12">
							<select class="form-control" id="existEmi" name="existEmi" (change)="getSelectedExistingEMI($event.target.value)">
								<option>select emi</option>
								<option value="5000">0-5000</option>
								<option value="10000">5000-10000</option>
								<option value="15000">10000-15000</option>
								<option value="20000">15000-20000</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="affordability" class="col-sm-6">EMI
							Affordability</label>
						<div class="col-sm-12">
							<select class="form-control" id="affordability"
								name="affordability" (change)="getAffordability($event.target.value)">
								<option>select emiAffordability</option>
								<option value="1">0-5000</option>
								<option value="2">5000-10000</option>
								<option value="3">10000-15000</option>
								<option value="4">15000-20000</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="customerHouseType" class="col-sm-6">House
							Type</label>
						<div class="col-sm-12">
							<select class="form-control" id="customerHouseType"
								name="customerHouseType" (change)="getSelectedHouseType($event.target.value)">
								<option>select houseType</option>
								<option value="1">Rented House</option>
								<option value="2">Self Owned</option>
								<option value="3">Parent Owned</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="isHaveIncomeProof" class="col-sm-6">Income
							Proof</label>
						<div class="col-sm-12">
							<select class="form-control" id="isHaveIncomeProof"
								name="isHaveIncomeProof" (change)="getSelectedIncomeProof($event.target.value)">
								<option>select IncomeProof</option>
								<option value="1">Yes</option>
								<option value="0">No</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="guarantor" class="col-sm-6">Guarantor</label>
						<div class="col-sm-12">
							<select class="form-control" id="guarantor" name="guarantor"
							(change)="getSelectedGaurantor($event.target.value)">
								<option>select guarantor</option>
								<option value="1">No guarantor</option>
								<option value="2">Family</option>
								<option value="3">Blood Relative</option>
								<option value="4">Friends</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="cusLocationName" class="col-sm-6">Location</label>
						<div class="col-sm-12">
							<select class="form-control" name="cusLocationName"
								id="cusLocationName" (change)="getSelectedCustomerLocation($event.target.value)">
								<option>location</option>
								<option value="banglore">Banglore</option>
								<option value="chennai">Chennai</option>
								<option value="mumbai">Mumbai</option>
								<option value="delhi">Delhi</option>
								<option value="kerala">Kerala</option>
								<option value="pune">Pune</option>
							</select>
						</div>
					</div>



					<div class="row form-group text-center justify-content-between">
						<div class="col-sm-6">
							<button type="reset" class="btn btn-danger col-sm-12 btn-lg">Clear</button>
						</div>
						<div class="col-sm-6">
							<button type="submit" class="btn btn-success btn-lg col-sm-12" (click)="saveLoan()">Loan
								Check</button>
						</div>
						<!-- <button type="submit" class="btn btn-success btn-lg">Loan
							Check</button> -->
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-sm-3"></div>
</div>
